*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:wght@500&family=Permanent+Marker&display=swap');


body{
    background-color: rgba(0, 0, 0, 0.178);
}

nav.banner{
    margin-top: 3%;
    position: relative;
    line-height: 5rem;
}

nav.banner img{
    width: 100%;
    max-height: 605px;
    /* height: 700px; */
}

nav.banner section.hero{
    position: absolute;
    top: 15%;
    right: 10%;
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
}
nav.banner section.hero h1{
    color: beige;
    background-color: rgba(137, 43, 226, 0.534);
    padding-right: 0.3em;
    padding-left: 0.3em;
}

nav.banner section.hero span{
    color: black;
}
nav.banner section.hero i{
    /* border: 1px solid white; */
    float: right;
    margin: 0.5vw;
}
 header.sticky{
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    width: 100%;
    padding: 3%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
 }
header.sticky h2{
    color: black;
    position: absolute;
    left: 5%;
    top: 10%;
    bottom: 10%;
    font-size: 4vw;
    font-family: 'Archivo Black', sans-serif;
}
  
header.sticky section.links{
    position: absolute;
    top: 2vw;
    right: 3%;
    font-family: 'DM Serif Display', serif;
   
}
header.sticky section a{
    padding: 5;
    font-size: 1.2vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    color: wheat;
    text-decoration: none;

}
header.sticky section a:hover{
    background-color: black;
    cursor: pointer;
}

nav#about{
    /* border: 1px solid black; */
    text-align: center;
    height: 24.5vw;
   background-color: rgba(0, 0, 0, 0.144);
   margin-top: 250px;
   margin-bottom: 100px;
   position: relative;
}
nav#about img{
    float: left;
    margin-left: 10%;
    width: 40%;
    border-radius: 50%;
    opacity: 0.6;
}
nav#about p{
    font-size: 5vw;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 50%;
}

main h2{
    text-align: center;
    font-size: 200%;
    padding-bottom: 1em;
    text-decoration:underline
}
main#projects{
    margin-top: 200px;
    text-align: center;
    padding: 3em;
}
main#projects img{
    padding: 1em;
    border-radius: 5px;
}
main#projects img:hover{
    opacity: 0.5;
}
footer{
    margin-top: 200px;
    text-align: center;
}
footer h2{
    font-size: 200%;
    padding-bottom: 1em;
    text-decoration:underline
}
footer i{
    padding-top: 1em;
    padding-right: 2em;
    font-family: 'DM Serif Display', serif;
    text-transform: uppercase;
}
footer section.message h3{
   font-size: 200%;
   padding-top: 2em;
   padding-bottom: 0.5em;
}
footer section.message input{
    text-align: center;
    width: 30%;
    padding: .5em;
    margin-bottom: 10px;
    border-radius: 5px;
}
footer section.message input#message{
    padding-bottom: 5em;
}
footer section.message button{
    padding: 0.5em;
    width: 30%;
    background-color: rgba(137, 43, 226, 0.658);
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;

}
footer section.message button:hover{
    font-size: large;
}
  